.root {
    -fx-base: rgb(150, 150, 150);
    -fx-background: rgb(150, 150, 150);
    -fx-control-inner-background: rgb(150, 150, 150);
}

#buttonBar {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
}

.image-view {
    -fx-cursor: hand;
}

.image-border {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.label {
    -fx-font-size: 8pt;
    -fx-font-weight: bold;
}

#casinoHBox {
    -fx-border-color: grey;
    -fx-border-radius: 3 3 3 3;
    -fx-border-width: 1;
}

.toggle-button#cancelledToggleButton {
    -fx-graphic: url("/images/cancelled.unselected.png");
}

.toggle-button:selected#cancelledToggleButton {
    -fx-graphic: url("/images/cancelled.selected.png");
}

.toggle-button#obsoleteToggleButton {
    -fx-graphic: url("/images/obsolete.unselected.png");
}

.toggle-button:selected#obsoleteToggleButton {
    -fx-graphic: url("/images/obsolete.selected.png");
}